<h1><%= t('.title') %></h1>

<%= User.human_attribute_name('email') %>
<%= @user.email %>
<%= User.human_attribute_name('postal_code') %>
<%= @user.postal_code %>
<%= User.human_attribute_name('address') %>
<%= @user.address %>
<%= User.human_attribute_name('introduction') %>
<%= @user.introduction %>

<%= link_to 'Edit', edit_user_registration_path if  @user == current_user %>